<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTTP server</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="container">
    <header>
      <menu>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/form">Form</a></li>
        <li><a href="/todos">Todos</a></li>
      </menu>
    </header>

    <h1>Contacts page</h1>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10866404.339043848!2d7.496894200825719!3d48.323412759552156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a1000e0da5b9%3A0x7bc3ddab9336dd55!2z0KbQtdC90YLRgNCw0LvRjNC90YvQuSDQv9Cw0YDQuiDQutGD0LvRjNGC0YPRgNGLINC4INC-0YLQtNGL0YXQsCDQuNC80LXQvdC4INCcLiDQk9C-0YDRjNC60L7Qs9C-!5e0!3m2!1sru!2scz!4v1715598373626!5m2!1sru!2scz"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>

</html>