<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTTP server</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="container">
    <header>
      <menu>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/form">Form</a></li>
        <li><a href="/todos">Todos</a></li>
      </menu>
    </header>
    <h1>Home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita hic, minus, accusantium vel, mollitia
      exercitationem illum quod iure dolores veritatis dolore? Quis at esse beatae, molestias, ad ipsam cum architecto
      nam
      laudantium soluta temporibus nihil facere cumque obcaecati nemo quasi necessitatibus.
    </p>
  </div>
</body>

</html>