<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTTP server</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="container">
    <header>
      <menu>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/form">Form</a></li>
      </menu>
    </header>

  </div>
</body>

</html>